

table {
  border: 2px solid rgb(238, 238, 238);
}



.invo-header {
  display: none;
}

@media print {
  .invo-header {
    display: block;
  }

  .quotation-header {
    display: none;
  }

  .invoice-btn {
    display: none;
  }

  table {
    border: 1px solid black;
  }
}